In [1]:
greeting = 'Hello'
greeting[0]

'H'

In [2]:
greeting[-1]

'o'

In [3]:
"Hello"[1]

'e'

In [4]:
fourth = input("Year: ")[3]
fourth

Year: 2020

'0'

In [7]:
# sequence example 1

months = [
    'January',
    'February',
    'March',
    'April',
    'May',
    'June',
    'July',
    'August',
    'September',
    'October',
    'November',
    'December'
]

endings = ['st','nd','rd'] + 17 * ['th']\
        + ['st','nd','rd'] + 7 * ['th']\
        + ['st']

year = input('Year: ')
month = input('Month(1-12): ')
day = input('Day(1-31): ')
month_number = int(month)
day_number = int(day)

month_name = months[month_number-1]
ordinal = day + endings[day_number-1]

print(month_name + ' ' + ordinal + ', ' + year)

Year: 2020
Month(1-12): 10
Day(1-31): 7
October 7th, 2020

In [9]:
tag = '<a href="http://www.python.org">Python web site</a>'
tag[9:30]

'http://www.python.org'

In [10]:
tag[32:-4]

'Python web site'

In [12]:
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers[3:6]

[4, 5, 6]

In [13]:
numbers[0:1]

[1]

In [14]:
numbers[7:10]

[8, 9, 10]

In [15]:
numbers[-3:-1]

[8, 9]

In [16]:
numbers[-3:0]

[]

In [17]:
numbers[-3:]

[8, 9, 10]

In [18]:
numbers[:3]

[1, 2, 3]

In [19]:
numbers[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
# sequence example : extract subdomain from string like http://www.something.com

url = input('Please enter the Url: ')
domain = url[11:-4]
print("Domain name: "+ domain)

Please enter the Url: http://www.soft98.com
Domain name: soft98

In [24]:
numbers[0:10:1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
numbers[0:10:2]

[1, 3, 5, 7, 9]

In [28]:
numbers[3:6:3]

[4]

In [29]:
numbers[::4]

[1, 5, 9]

In [30]:
numbers[8:3:-1]

[9, 8, 7, 6, 5]

In [32]:
numbers[::-1]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [33]:
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [34]:
'python' * 5

'pythonpythonpythonpythonpython'

In [35]:
[42] * 10

[42, 42, 42, 42, 42, 42, 42, 42, 42, 42]

In [36]:
sequence = [None] * 10
sequence

[None, None, None, None, None, None, None, None, None, None]

In [44]:
# 在屏幕中央且宽度合适的方框内打印一个句子
sentence = input("Sentence: ")

screen_width = 80
text_width = len(sentence)
box_width = text_width + 6
left_margin = (screen_width - box_width) // 2
print()
print(' '*left_margin + '+' + '-'*(box_width-2) + '+')
print(' '*left_margin + '|  ' + ' '*text_width + '  |')
print(' '*left_margin + '|  ' + sentence + '  |')
print(' '*left_margin + '|  ' + ' '*text_width + '  |')
print(' '*left_margin + '+' + '-'*(box_width-2) + '+')

Sentence: www.soft98.top

                              +------------------+
                              |                  |
                              |  www.soft98.top  |
                              |                  |
                              +------------------+

In [45]:
permissions = 'rw'
'w' in permissions

True

In [46]:
'x' in permissions

False

In [47]:
users = ['mlh','foo','bar']
input('Enter your user name: ') in users

Enter your user name: foo

True

In [48]:
subject = '$$$ Get rich now !!! $$$'
'$$$' in subject

True

In [51]:
# check username and password
database = [
    ['albert','1234'],
    ['dilbert','4242'],
    ['smith','7524'],
    ['jones','9843']
]
username =input('Username: ')
pin = input('PIN code: ')
if [username,pin] in database: print('Access granted')

Username: albert
PIN code: 1234
Access granted

In [52]:
numbers = [100,34,678]
len(numbers)

3

In [53]:
max(numbers)

678

In [55]:
min(numbers)

34

In [56]:
max(100,101)

101

In [57]:
min(9,2,3)

2

In [58]:
list('Hello')

['H', 'e', 'l', 'l', 'o']

In [60]:
x = [1,1,1]
x[1] = 2
x

[1, 2, 1]

In [61]:
names = ['Alice','Beth','Cecil','Dee-Dee','Earl']
print(names)
del names[2]
print(names)

['Alice', 'Beth', 'Cecil', 'Dee-Dee', 'Earl']
['Alice', 'Beth', 'Dee-Dee', 'Earl']

In [62]:
name = list('Perl')
print(name)

['P', 'e', 'r', 'l']

In [65]:
name[2:] = list('ar')
print(name)

['P', 'e', 'a', 'r']

In [66]:
name = list('Perl')
name[1:] = list('ython')
name

['P', 'y', 't', 'h', 'o', 'n']

In [69]:
numbers = [1,5]
numbers[1:1] = [2,3,4]
numbers

[1, 2, 3, 4, 5]

In [70]:
numbers[1:4] = []
numbers

[1, 5]

In [71]:
lst = [1,2,3]
lst.append(4)
lst

[1, 2, 3, 4]

In [72]:
lst.clear()
lst

[]

In [73]:
a = [1,2,3]
b = a
b[1] = 4
a

[1, 4, 3]

In [74]:
a = [1,2,3]
b = a.copy()
b[1] = 4
a

[1, 2, 3]

In [75]:
['to','be','or','not','to','be'].count('to')

2

In [76]:
x = [[1,2],1,1,[2,1,[1,2]]]
x.count(1)

2

In [77]:
x.count([1,2])

1

In [78]:
a = [1,2,3]
b = [4,5,6]
a.append(b)
a

[1, 2, 3, [4, 5, 6]]

In [79]:
a.extend(b)
a

[1, 2, 3, [4, 5, 6], 4, 5, 6]

In [80]:
knights = ['We','are','the','knights','who','say','ni']
knights.index('who')

4

In [81]:
knights.index('herring')

ValueError: 'herring' is not in list

In [82]:
numbers = [1,2,3,5,6,7]
numbers.insert(3,'four')
numbers

[1, 2, 3, 'four', 5, 6, 7]

In [85]:
numbers = [1,2,3,5,6,7]
numbers[3:3] = ['four']
numbers

[1, 2, 3, 'four', 5, 6, 7]

In [86]:
x = [1,2,3]
x.pop()

3

In [87]:
x

[1, 2]

In [88]:
x.pop(0)

1

In [89]:
x

[2]

In [90]:
x = ['to','be','or','not','to','be']
x.remove('be')
x

['to', 'or', 'not', 'to', 'be']

In [91]:
x.remove('bee')

ValueError: list.remove(x): x not in list

In [92]:
x = [1,2,3]
x.reverse()
x

[3, 2, 1]

In [93]:
x = [1,2,3]
list(reversed(x))

[3, 2, 1]

In [94]:
x = [4,6,2,1,7,9]
x.sort()
x

[1, 2, 4, 6, 7, 9]

In [96]:
x = [4,6,2,1,7,9]
y = x.sort()
y

In [97]:
x = [4,6,2,1,7,9]
y = x.copy()
y.sort()
print(x)
print(y)

[4, 6, 2, 1, 7, 9]
[1, 2, 4, 6, 7, 9]

In [98]:
x = [4,6,2,1,7,9]
y = sorted(x)
print(x)
print(y)

[4, 6, 2, 1, 7, 9]
[1, 2, 4, 6, 7, 9]

In [99]:
sorted('Python')

['P', 'h', 'n', 'o', 't', 'y']

In [100]:
x = ['aasdad','ada','ac','adddddd']
x.sort(key=len)
x

['ac', 'ada', 'aasdad', 'adddddd']

In [101]:
x = [4,6,2,1,7,9]
x.sort(reverse=True)
x

[9, 7, 6, 4, 2, 1]

In [102]:
1,2,3

(1, 2, 3)

In [103]:
42,

(42,)

In [105]:
3*(40+2)

126

In [106]:
3*(40+2,)

(42, 42, 42)

In [107]:
tuple([1,2,3])

(1, 2, 3)

In [108]:
tuple('abc')

('a', 'b', 'c')

In [109]:
tuple((1,2,3))

(1, 2, 3)

In [110]:
x = 1,2,3
x[1]

2

In [111]:
x[:2]

(1, 2)