In [1]:
print('Age',12)

Age 12

In [2]:
name = 'Gumby'
salutation = 'Mr.'
greeting = 'Hello,'
print(greeting,salutation,name)

Hello, Mr. Gumby

In [4]:
print('I','wish','to','register','a','complaint',sep='_')

I_wish_to_register_a_complaint

In [6]:
print('Hello ',end='')
print('world!')

Hello world!

In [ ]:
import module
from module import function
from module import function1,function2
from moudule import *

import moudule as alias
from module import function as alias

In [7]:
###序列解包
x,y,z = 1,2,3
print(x,y,z)

1 2 3

In [8]:
x,y = y,x
print(x,y,z)

2 1 3

In [9]:
values = 1,2,3
values

(1, 2, 3)

In [10]:
x,y,z = values
x

1

In [12]:
scondrel = {'name':'Robin','girlfriend':'Marion'}
key,value = scondrel.popitem()
print(key,value)

girlfriend Marion

In [13]:
x,y,z = 1,2

ValueError: not enough values to unpack (expected 3, got 2)

In [15]:
x,y,z = 1,2,3,4

ValueError: too many values to unpack (expected 3)

In [17]:
a,b,*rest = {1,2,3,4}
print(rest)

[3, 4]

In [18]:
name = 'Albus Perciasd wulf brain dumas'
first,*middle,last = name.split()
middle

['Perciasd', 'wulf', 'brain']

In [19]:
a,*b,c = "abc"
a,b,c

('a', ['b'], 'c')

In [20]:
x=y=1
print(x,y)

1 1

In [21]:
x = 2
x += 1
x *= 2
x

6

In [22]:
fnord = 'foo'
fnord += 'bar'
fnord *= 2
fnord

'foobarfoobar'

In [23]:
True == 1

True

In [24]:
False == 0

True

In [28]:
name = input('What is your name?')
if name.endswith('Gumby'):
    print('Hello, Mr. Gumby')
else:
    print('Hello, stranger')

What is your name?asd
Hello, stranger

In [31]:
num = int(input('Enter a number: '))
if num > 0:
    print('The number is positive')
elif num < 0:
    print('The number is negative')
else:
    print('The number is zero')

Enter a number: 11
The number is positive

In [34]:
name = input('What is your name?')
if name.endswith('Gumby'):
    if name.startswith('Mr.'):
        print('Hello, Mr. Gumby')
    elif name.startswith('Mrs.'):
        print('Hello, Mrs. GUmby')
    else:
        print('Hello, Gumby')
else:
    print('Hello, stranger')

What is your name?Mr.Gumby
Hello, Mr. Gumby

In [ ]:
表达式	描述
x == y	x等于y
x < y	x小于y
x > y	x大于y
x >= y	x大于或等于y
x <= y	x小于或等于y
x != y	x不等于y
x is y	x和y是同一个对象
x is not y	x和y是不同的对象
x in y	x是容器（如序列）y的成员
x not in y	x不是容器（如序列）y的成员

In [36]:
age = -1
assert 0 < age < 100,'The age must be realistic'

AssertionError: The age must be realistic

In [37]:
x = 1
while x <= 100:
    print(x)
    x += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [39]:
name = ''
while not name:
    name = input('Please enter your name: ')
print('Hello, {}'.format(name))

Please enter your name:
Please enter your name:
Please enter your name: soft98
Hello, soft98

In [40]:
for number in range(1,101):
    print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [41]:
d = {'x':1,'y':2,'z':3}
for key in d:
    print(key,'corresponds to',d[key])

x corresponds to 1
y corresponds to 2
z corresponds to 3

In [42]:
for key,value in d.items():
    print(key,'corresponds to',value)

x corresponds to 1
y corresponds to 2
z corresponds to 3

In [45]:
names = ['anne','beth','george','damon']
ages = [12,45,32,101]
for i in range(len(names)):
    print(names[i],'is',ages[i],'years old')

anne is 12 years old
beth is 45 years old
george is 32 years old
damon is 101 years old

In [46]:
for name,age in zip(names,ages):
    print(name,'is',age,'years old')

anne is 12 years old
beth is 45 years old
george is 32 years old
damon is 101 years old

In [52]:
strings = list('abcdefg')
for index,string in enumerate(strings):
    if 'a' in strings:
        strings[index] = '[censored]'
strings

['[censored]', 'b', 'c', 'd', 'e', 'f', 'g']

In [56]:
sorted([4,3,1,5,6])

[1, 3, 4, 5, 6]

In [57]:
sorted('Hello, world!')

[' ', '!', ',', 'H', 'd', 'e', 'l', 'l', 'l', 'o', 'o', 'r', 'w']

In [58]:
list(reversed('Hello, world!'))

['!', 'd', 'l', 'r', 'o', 'w', ' ', ',', 'o', 'l', 'l', 'e', 'H']

In [59]:
''.join(reversed('Hello, world!'))

'!dlrow ,olleH'

In [60]:
[x*x for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [62]:
[x*x for x in range(10) if x%3 == 0]

[0, 9, 36, 81]

In [63]:
[(x,y) for x in range(3) for y in range(3)]

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [64]:
girls = ['alice', 'bernice', 'clarice']
boys = ['chris', 'arnold', 'bob']
[b+':'+g for b in boys for g in girls if b[0] == g[0]]

['chris:clarice', 'arnold:alice', 'bob:bernice']

In [67]:
girls = ['alice', 'bernice', 'clarice']
boys = ['chris', 'arnold', 'bob']
letterGirls = {}
for girl in girls:
    letterGirls.setdefault(girl[0],[]).append(girl)
print([b+':'+g for b in boys for g in letterGirls[b[0]]])
print(letterGirls)

['chris:clarice', 'arnold:alice', 'bob:bernice']
{'a': ['alice'], 'b': ['bernice'], 'c': ['clarice']}

In [70]:
squares = {i:"{} squared is {}".format(i,i**2) for i in range(10)}
squares

{0: '0 squared is 0',
 1: '1 squared is 1',
 2: '2 squared is 4',
 3: '3 squared is 9',
 4: '4 squared is 16',
 5: '5 squared is 25',
 6: '6 squared is 36',
 7: '7 squared is 49',
 8: '8 squared is 64',
 9: '9 squared is 81'}

In [ ]:
pass #什么都不做
del #删除元素或变量名，但是如果x,y指向同一个，删除一个对另一个不影响

In [72]:
exec("print('Hello, world')")

Hello, world

In [75]:
# 命名空间
scope = {}
sqrt = 2
exec('sqrt = 1',scope)
print(scope['sqrt'])
print(sqrt)

1
2

In [76]:
eval(input("输入一个数学表达式："))

输入一个数学表达式：6+18+2

26

In [77]:
scope = {}
scope['x'] = 1
scope['y'] = 2
eval('x+y',scope)

3